#logo_button > img {
    display: block;
    margin: 0 auto;;
}

#logo_button p, h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.image {
    background-image:url("../pictures/pexels-photo-296878.jpeg") ;
    background-size: cover;
    min-height: 100vh;
}
.button {
    display: block;
    margin: auto;
    width: 12rem;
    height: 5rem;
    background-color: #fff1e5;
    border-radius: 20px;
    opacity: 0.6;
}