.horizontal-parallax {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999999;
    z-index: 1;
}

.par1 {
    width: 100px;
    height: 100px;
    position: absolute;
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    z-index: 1;
    background-color: #777777;
}