body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#container {
    background-image: url('https://static.pexels.com/photos/296878/pexels-photo-296878.jpeg');
    background-attachment: fixed;
    height: 100vh;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 116px;
}

.alamakota {
    height: 100%;
    position: relative;
}

.triangleButton {
    width: 50px;
    height: 50px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: auto;
    opacity: 1;
}

.triangleButton:hover {
    border-color: #f60;
    transition: .5s;

}

.textUnderLogo {
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    width: 30%;
    height: 150px;
    position: relative;
    color: black;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    background-color: white;
    opacity: 0.8;
    padding: 5px;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.flex>p{
    color: #fff;
    font-size: 2.25rem;
    letter-spacing: 1px;
}

.email {
    width: 100%;
    background-color: #333;
    padding: 50px 0;
    /*height: 250px;*/
    /*background-color: #444;*/
    /*padding: 30px;*/
}

input[type=email] {
    width: 300px;
    font-size: 1.35rem;
    outline: none;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    box-sizing: border-box;
    cursor: auto;
    background-color: #efefef;
    color: white;
    border: 0.5px solid #f60;
    background: none;
}

input[type=submit] {
    width: 300px;
    background-color: #f60;
    color: #fff;
    font-size: 1.125rem;
    padding: 15px 10px;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    letter-spacing: 2px;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

input[type=submit]:hover {
    background-color: #333;
    color: #f60;
    border: 2px solid #f60;
}

input[type=submit]:active {
    color: white;
}

footer{
    width: 100%;
    height: 170px;
    padding: 30px;
    color: #fff;
    background-color: #444;
    /*background-color: #333;*/
    text-align: center;
}

.backToTopButton {
    padding-bottom: 30px;
}

.backToTopButton a {
    text-decoration: none;
    color: #ffffff;
}

.backToTopButton a:hover {
    color: #f60;
    transition: .5s;
}

.icons img{
    width: 40px;
    padding: 30px 10px;
}

.offer-title {
    text-align:  center;
    margin: 25px;
}
.offer-content {
    text-align: justify;
    line-height: 30px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    width: 80vw;
    min-height: 10rem;
    margin-left: 10vw;
    margin-top: 5vw;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.flexItem {
    height: 200px;
    width: 200px;
    padding: 20px;
    color: #595959;
    font-size: 1rem;
    text-align: center;
}

.flexItem img {
    width: 60px;
    padding: 20px;
}
/*.white-div{*/
    /*background-color: white;*/
    /*height: 30vh;*/
    /*width:60vh;*/
    /*opacity: 0.7;*/
@media screen and (min-width: 800px) and (max-width:1200px){

}
@media screen and (min-width: 1201px){

}

.mordy {
    width: 100%;
    height: 200px;
    background-color: #444;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;

}

.mordy img {
    width: 200px;
    height: 200px;
    border: 3px solid white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}           /*nav buttons color*/
.navbar-default .navbar-nav>li>a:hover {
    color: #f60;
    transition: .5s;
}     /*nav buttons hover color*/